@import url('https://fonts.googleapis.com/css?family=Ruslan+Display&display=swap');

.container {
    display: flex;
    justify-content: space-between;
}

.suggestion {
    flex-grow: 1;
    width: 500px;
}

.suggestion-container {
    border-radius: 25px;
    background-color: #cccccc;
}

.movie-container {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    border-radius: 25px;
    background-color: #94b8b8;
}

.movie-image {
    flex-grow: 3;
    min-height: 500px;
    min-width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:-1;
}

.suggestion:hover {
    background: #b3b3b3;
    cursor: pointer;
}